AddType application/x-httpd-php .appcache
AddType application/x-httpd-php .manifest
AddType application/x-web-app-manifest+json .webapp
AddHandler x-web-app-manifest+json .webapp
AddHandler x-httpd-php .manifest
SetEnv PHP_VER 5_3
AddDefaultCharset UTF-8
